@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

 body{
      font-family: "DM Sans", sans-serif;
    background-color: #eee;
 }
:root{
    --msr-font-family:"DM Sans", sans-serif;
    --msr-color-foreground:white;
    --msr-color-background:black;
 /* primary */
  --msr-color-primary-50: var(--color-blue-50);
  --msr-color-primary-100: var(--color-blue-100);
  --msr-color-primary-200: var(--color-blue-200);
  --msr-color-primary-300: var(--color-blue-300);
  --msr-color-primary-400: var(--color-blue-400);
  --msr-color-primary-500: var(--color-blue-500);
  --msr-color-primary-600: var(--color-blue-600);
  --msr-color-primary-700: var(--color-blue-700);
  --msr-color-primary-800: var(--color-blue-800);
  --msr-color-primary-900: var(--color-blue-900);
  --msr-color-primary-950: var(--color-blue-950);
/* gray */
  --msr-color-gray-50: var(--color-gray-50);
  --msr-color-gray-100: var(--color-gray-100);
  --msr-color-gray-200: var(--color-gray-200);
  --msr-color-gray-300: var(--color-gray-300);
  --msr-color-gray-400: var(--color-gray-400);
  --msr-color-gray-500: var(--color-gray-500);
  --msr-color-gray-600: var(--color-gray-600);
  --msr-color-gray-700: var(--color-gray-700);
  --msr-color-gray-800: var(--color-gray-800);
  --msr-color-gray-900: var(--color-gray-900);
  --msr-color-gray-950: var(--color-gray-950);
/* red */
  --msr-color-red-50: var(--color-red-50);
  --msr-color-red-100: var(--color-red-100);
  --msr-color-red-200: var(--color-red-200);
  --msr-color-red-300: var(--color-red-300);
  --msr-color-red-400: var(--color-red-400);
  --msr-color-red-500: var(--color-red-500);
  --msr-color-red-600: var(--color-red-600);
  --msr-color-red-700: var(--color-red-700);
  --msr-color-red-800: var(--color-red-800);
  --msr-color-red-900: var(--color-red-900);
  --msr-color-red-950: var(--color-red-950);
/* green */
  --msr-color-green-50: var(--color-green-50);
  --msr-color-green-100: var(--color-green-100);
  --msr-color-green-200: var(--color-green-200);
  --msr-color-green-300: var(--color-green-300);
  --msr-color-green-400: var(--color-green-400);
  --msr-color-green-500: var(--color-green-500);
  --msr-color-green-600: var(--color-green-600);
  --msr-color-green-700: var(--color-green-700);
  --msr-color-green-800: var(--color-green-800);
  --msr-color-green-900: var(--color-green-900);
  --msr-color-green-950: var(--color-green-950);
/* amber */
  --msr-color-amber-50: var(--color-amber-50);
  --msr-color-amber-100: var(--color-amber-100);
  --msr-color-amber-200: var(--color-amber-200);
  --msr-color-amber-300: var(--color-amber-300);
  --msr-color-amber-400: var(--color-amber-400);
  --msr-color-amber-500: var(--color-amber-500);
  --msr-color-amber-600: var(--color-amber-600);
  --msr-color-amber-700: var(--color-amber-700);
  --msr-color-amber-800: var(--color-amber-800);
  --msr-color-amber-900: var(--color-amber-900);
  --msr-color-amber-950: var(--color-amber-950);
 
}